:root {
  --primary-color: rgb(216,167,39);
  --secondary-color: rgb(10,29,55);
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  top: 0;
  display: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 9999;
  border-bottom: solid 5px var(--primary-color);
}

.header a {
  float: left;
  color: var(--secondary-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
}

.header-right a:hover {
  color: var(--primary-color);
  text-decoration: underline ;
}

.header-right {
  float: right;
  display: flex;
  position: relative; 
  top: 30px;
}

.logo img {
  height: 100px;
}

#mobile {
  display: none;
}

.hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hero h1 {
  color: white;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px black;
}

.container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 75px;
}

.container-mission {
  height: 400px;
  padding-left: 20px;
}

.container-services {
  height: 700px;
  border-top: var(--secondary-color) 2px solid;
  border-bottom: var(--secondary-color) 2px solid;
}

.container-why-us {
  height: 400px;
  padding-right: 20px;
}

.container-why-us {
  height: 400px;
}

.container h2 {
  color: var(--primary-color);
  height: 60px;
  padding-top: 12px;
  font-size: 40px;
  font-weight: bolder;
  text-shadow: 1px 2px var(--secondary-color);
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.container p, ul {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  list-style: none;
  color: var(--secondary-color);
  margin: 20px 0px 50px 0px;
}

.logo-stacked img {
  height: 300px;
  margin-left: 150px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row {
  min-height: 300px;
}

.row div {
  padding: 25px;
}

.footer {
  background: var(--secondary-color);
  padding: 20px 20px 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  list-style: none;
  bottom: 0px;
  border-top: solid 5px var(--primary-color);
}

.footer-icons img {
  height: 25px;
  margin: 10px;
}

.footer-links {
  position: absolute;
  left: 500px;
  font-size: 14px;
  line-height: 2.5;
  font-weight: bold;
  color: white;
}

.contact-info {
  position: absolute;
  left: 80px;
  font-size: 18px;
  line-height: 2.5;
  font-weight: bold;
  color: white;
}

.icons img {
  max-height: 100px;
}

.plan-options a {
  color: var(--primary-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
}

.plan-options a:hover {
  text-decoration: underline;
}

.cpa img {
  max-height: 400px;
}

@media screen and (max-width: 930px) {
  .header {
    display: center;
    width: 100%;
  }

  .header a {
    float: none;
    display: inline-block;
    text-align: center;
  }
  
  .header-right {
    display: flex;
    float: none;
    align-content: center;
    justify-content: center;
    position: fixed;
    left: 30%;
    top: 100px;
  }

  .logo img {
    display: flex;
    height: 60px;
    position: fixed;
    left: 33%;
  }
}

@media screen and (max-width: 545px) {
  .header {
    display: center;
    width: 100%;
    display: flex;
  }

  .header a {
    float: none;
    display: flex;
    text-align: center;
  }
  
  .header-right {
    display: flex;
    float: none;
    align-content: center;
    justify-content: center;
    position: fixed;
    left: 15%;
    top: 100px;
  }

  .logo img {
    display: flex;
    height: 60px;
    position: fixed;
    left: 19%;
  }
}
